body {
    font-family: Arial, Helvetica, sans-serif;
}

.shopping-header h2 {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.shopping-item {
    padding: 32px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.responsive {
    max-width: 50%;
    width: 100px;
    height: auto;
}

item-entry {
    width: 300px;
}

.item-name {
    text-transform: uppercase;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}

.item-description {
    text-transform: lowercase;
    font-size: 16px;
    display: block;
}


.quantity {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 12px;
    text-shadow: 0px 1px 0px #ffffff;
}

.quantity:active {
    position: relative;
    top: 1px;
}

.quantity-ammount {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 16px;
}

.value {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    min-width: 100px;
}

.shopping-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shopping-footer>span {
    font-weight: 700;
    font-size: 30px;
}