body {
    font-family: Arial, Helvetica, sans-serif;
}

.hotels-header h2 {
    padding: 20px;
    text-align: center;
}

.hotels-body {
    margin: auto;
    max-width: 90%;
}

.hotel-item {
    padding: 16px;
    border-radius:2px;
    border:1px solid #9c9c9c;
    display: flex;
    justify-content: space-between;
}